<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="coalescingStatistics" class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
    <param name="TimeSlice" value="1000"/>
    <appender-ref ref="statistics"/>
  </appender>

  <appender name="statistics" class="org.apache.log4j.FileAppender">
    <param name="File" value="./target/statisticsLog.log"/>
    <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%m%n"/>
    </layout> 
  </appender>

  <appender name="listAppender" class="org.perf4j.log4j.ListAppender" />

  <logger name="org.perf4j.TimingLogger">
    <level value="info"/>
    <appender-ref ref="coalescingStatistics"/>
    <appender-ref ref="listAppender"/>
  </logger>
</log4j:configuration>