  ---------
  Downloads
  ---------

Download Project Artifacts

* Release Versions

  <All release versions of Perf4J are available from the maven repository at:>
  <<{{http://repository.codehaus.org/org/perf4j/perf4j/}}>>

  * <<${currentProductionVersion}>>

    * {{{http://repository.codehaus.org/org/perf4j/perf4j/${currentProductionVersion}/perf4j-${currentProductionVersion}.jar}Main JAR archive}}
      ({{{http://repository.codehaus.org/org/perf4j/perf4j/${currentProductionVersion}/perf4j-${currentProductionVersion}.jar.md5}MD5}})

    * {{{http://repository.codehaus.org/org/perf4j/perf4j/${currentProductionVersion}/perf4j-${currentProductionVersion}-log4jonly.jar}JAR archive containing log4j aspects and extensions but NOT extensions for other logging frameworks}}
      ({{{http://repository.codehaus.org/org/perf4j/perf4j/${currentProductionVersion}/perf4j-${currentProductionVersion}-log4jonly.jar.md5}MD5}})
      This jar is necessary when using the ajc AspectJ compiler and you want to only weave in the log4j aspects.

    * {{{http://repository.codehaus.org/org/perf4j/perf4j/${currentProductionVersion}/perf4j-${currentProductionVersion}-javalogonly.jar}JAR archive containing java.util.logging aspects and extensions but NOT extensions for other logging frameworks}}
      ({{{http://repository.codehaus.org/org/perf4j/perf4j/${currentProductionVersion}/perf4j-${currentProductionVersion}-javalogonly.jar.md5}MD5}})
      This jar is necessary when using the ajc AspectJ compiler and you want to only weave in the java.util.logging aspects.

    * {{{http://repository.codehaus.org/org/perf4j/perf4j/${currentProductionVersion}/perf4j-${currentProductionVersion}-commonslogonly.jar}JAR archive containing Apache Commons Logging aspects and extensions but NOT extensions for other logging frameworks}}
      ({{{http://repository.codehaus.org/org/perf4j/perf4j/${currentProductionVersion}/perf4j-${currentProductionVersion}-commonslogonly.jar.md5}MD5}})
      This jar is necessary when using the ajc AspectJ compiler and you want to only weave in the Apache Commons Logging aspects.

    * {{{http://repository.codehaus.org/org/perf4j/perf4j/${currentProductionVersion}/perf4j-${currentProductionVersion}-logbackonly.jar}JAR archive containing SLF4J aspects AND logback extensions but NOT extensions for other frameworks}}
      ({{{http://repository.codehaus.org/org/perf4j/perf4j/${currentProductionVersion}/perf4j-${currentProductionVersion}-logbackonly.jar.md5}MD5}})
      This jar is necessary when using the ajc AspectJ compiler and you want to only weave in the SLF4J aspects and you
      are using any of the custom logback appenders.

    * {{{http://repository.codehaus.org/org/perf4j/perf4j/${currentProductionVersion}/perf4j-${currentProductionVersion}-slf4jonly.jar}JAR archive containing SLF4J aspects and extensions but NOT extensions for other logging frameworks}}
      ({{{http://repository.codehaus.org/org/perf4j/perf4j/${currentProductionVersion}/perf4j-${currentProductionVersion}-slf4jonly.jar.md5}MD5}})
      This jar is necessary when using the ajc AspectJ compiler and you want to only weave in the SLF4J aspects. This
      jar does NOT contain the logback appenders, so it should only be used if you are using SLF4J as the logging
      interface but using a different framework for the underlying appender implementation.

  []

* Snapshot Versions

  <All SNAPSHOT versions built from the development trunk are available in the snapshot repository at:>
  <<{{http://snapshots.repository.codehaus.org/org/perf4j/perf4j/}}>>

  * <<${currentSnapshotVersion}>>

    * Artifacts available at {{http://snapshots.repository.codehaus.org/org/perf4j/perf4j/${currentSnapshotVersion}/}}.
      Unfortunately, Maven 3 no longer supports non-unique snapshot deployments, so to get the most recent snapshot
      you should pull the most recent timestamped version from this directory.

* Maven Dependencies and Ant

  If you are using Perf4J in a project built with Maven, you will need to add the following entries to the dependencies
  section of your pom.xml file. Note that some dependencies are optional depending on the Perf4J features used:

+-----------------------------------------------------------------------------+

    <dependency>
        <groupId>org.perf4j</groupId>
        <artifactId>perf4j</artifactId>
        <version>${currentProductionVersion}</version>
        <scope>compile</scope>
    </dependency>

    <!-- if you use the log4j implementation of Perf4J, you must also include this dependency -->
    <dependency>
        <groupId>log4j</groupId>
        <artifactId>log4j</artifactId>
        <version>1.2.14</version>
        <scope>compile</scope>
    </dependency>

    <!-- if you use the commons logging implementation of Perf4J, you must also include this dependency -->
    <dependency>
        <groupId>commons-logging</groupId>
        <artifactId>commons-logging</artifactId>
        <version>1.0.3</version>
        <scope>compile</scope>
    </dependency>

    <!-- if you use the SLF4J implementation of Perf4J, you must also include this dependency -->
    <dependency>
        <groupId>org.slf4j</groupId>
        <artifactId>slf4j-api</artifactId>
        <version>1.5.6</version>
        <scope>compile</scope>
    </dependency>

    <!-- if you use also use logback as the SLF4J underlying impl, you must also include this dependency -->
    <dependency>
        <groupId>ch.qos.logback</groupId>
        <artifactId>logback-classic</artifactId>
        <version>0.9.15</version>
        <scope>compile</scope>
        <optional>true</optional>
    </dependency>

    <!-- if you use the AOP functionality of Perf4J, you must also include these 2 dependencies -->
    <dependency>
        <groupId>org.aspectj</groupId>
        <artifactId>aspectjrt</artifactId>
        <version>1.6.1</version>
        <scope>runtime</scope>
    </dependency>

    <dependency>
        <groupId>commons-jexl</groupId>
        <artifactId>commons-jexl</artifactId>
        <version>1.1</version>
        <scope>runtime</scope>
    </dependency>

    <!-- if you use Spring to manage the AOP funcionality, you must also include these 2 dependencies -->
    <dependency>
        <groupId>org.springframework</groupId>
        <artifactId>spring</artifactId>
        <version>2.0.6</version>
        <scope>runtime</scope>
    </dependency>

    <dependency>
        <groupId>cglib</groupId>
        <artifactId>cglib</artifactId>
        <version>2.1_3</version>
        <scope>runtime</scope>
    </dependency>
+-----------------------------------------------------------------------------+

  Alternatively, if you are building your project with Ant, you can use
  {{{http://maven.apache.org/ant-tasks/index.html}Maven's Ant tasks}} to pull the required dependencies for your build.
  Once you have {{{http://maven.apache.org/ant-tasks/installation.html}installed}} the tasks, you can add the following
  lines to your build file:

+-----------------------------------------------------------------------------+
    <!-- Maven's dependencies task pulls down the jar files to a local directory -->
    <artifact:dependencies pathId="perf4j.classpath">
        <dependency groupId="org.perf4j" artifactId="perf4j" version="${currentProductionVersion}" scope="compile"/>
        <!-- This dependency is only required if using log4j extensions in perf4j -->
        <dependency groupId="log4j" artifactId="log4j" version="1.2.14" scope="compile"/>
        <!-- This dependency is only required if using commons logging extensions in perf4j -->
        <dependency groupId="commons-logging" artifactId="commons-logging" version="1.0.3" scope="compile"/>
        <!-- This dependency is only required if using slf4j extensions in perf4j -->
        <dependency groupId="org.slf4j" artifactId="slf4j-api" version="1.5.6" scope="compile"/>
        <!-- This dependency is only required if using logback extensions in perf4j -->
        <dependency groupId="ch.qos.logback" artifactId="logback-classic" version="0.9.15" scope="compile"/>
        <!-- These 2 dependencies only required if using AOP functionality in perf4j -->
        <dependency groupId="org.aspectj" artifactId="aspectjrt" version="1.6.1" scope="runtime"/>
        <dependency groupId="commons-jexl" artifactId="commons-jexl" version="1.1" scope="runtime"/>
        <!-- These 2 dependencies only required if using Spring to manage AOP -->
        <dependency groupId="org.springframework" artifactId="spring" version="2.0.6" scope="runtime"/>
        <dependency groupId="cglib" artifactId="cglib" version="2.1_3" scope="runtime"/>

        <!-- Declare the remote repositories from where dependencies are pulled -->
        <remoteRepository url="http://repository.codehaus.org/"/>
        <remoteRepository url="http://repo1.maven.org/maven2/"/>
    </artifact:dependencies>
+-----------------------------------------------------------------------------+
